.container {
  padding: 3.5rem 0;
  padding-bottom: 8rem;
}

.inputsContainer {
  width: 50vw;
  margin: 0 auto;
  transition: var(--transition);
}

@media only screen and (min-width: 1601px) {
  .inputsContainer {
    width: 40vw;
  }
}

.goBackArrow {
  width: 3.75rem;
  position: absolute;
  left: 4rem;
  cursor: pointer;
}

.inputsContainer h1 {
  margin-bottom: 2.75rem;
  font-size: 2.15rem;
}

.inputsContainer h5 {
  font-weight: 200;
}

.inputsContainer label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;

  margin-top: 0.75rem;
  z-index: 34;
}

.inputsContainer ul {
  margin: 0.9rem;
}

.inputsContainer ul li {
  color: #85858d;
  font-weight: 50;
  font-size: 0.8rem;
  margin: 0.45rem 0;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.inputWrapper div:nth-child(1) {
  width: 110%;
}

.inputWrapper div:nth-child(2) {
  width: 100%;
}
