.container {
  position: relative;
}

.container input,
.DownArrow {
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DownArrow {
  position: absolute;
  width: 1.5rem;
  right: 0;
  right: 1.25rem;
  pointer-events: none;
  z-index: 45;
  background-color: inherit;
}

.dropdownCategories {
  position: absolute;
  height: 17.5vh;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  box-shadow: 0 0 1px 1px #dedede;
  background-color: white;
  z-index: 21;
}

.dropdownCategories button {
  margin: 0.25rem;
}

.added {
  position: absolute;
  left: 0;
  max-width: 82.5%;
  display: flex;
  overflow: auto;
  z-index: 200;
}

.added::-webkit-scrollbar {
  height: 5px;
}

.added::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.added::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #909090;
}

.added::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.added button {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  margin: 0 0.5rem;
  cursor: default;
}

.added img {
  width: 1.4rem;
  margin-left: 0.5rem;
  pointer-events: all !important;
  cursor: pointer !important;
}
