:root {
  --page-margin: 8.5rem;

  --pulsing-animation-color: 255, 184, 47;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--page-margin);
  padding-top: 1rem;
}

.cover h1 {
  font-size: 4.5rem;
  position: relative;
  top: 0.75rem;
}

.cover img {
  padding-bottom: 2rem;
  position: relative;
  top: 2.75rem;
  width: 50rem;
}

.content {
  display: flex;
  flex-direction: column;
}